  <footer class="py-4 text-white mt-5 mt-2 bg-dark ">
    <div class="container text-center">
      <%= link_to "Home", root_path, class: "btn btn-outline-info btn-sm mb-2" %>
    </div>
    <div class="container text-center">
      <p>Artur Debicki &copy; YourBlog</p>
    </div>
  </footer>

