<header>
<div class="d-flex align-items-center flex-column header p-5">

  <h1><%= link_to "YourBlog", root_path, class: "display-2 font-weight-bold text-black m-0" %>
  <hr class="border border-info rounded m-1">
  </h1>
  
  <span class=""><%= Time.now.strftime("%A, %B %e, %Y") %></span>
  
  
  
</div>


</header>

